@import "datatables.net-dt/css/dataTables.dataTables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-small {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}


